/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header, #header-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    z-index: 100;
}

#header-background {
    background-color: #101111;
    opacity: 0.96;
}

#logo-wrapper {
    height: 90px;
}

#logo {
    height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    opacity: 0.99;
}


/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#nav {
    text-align: center;
    padding-top: 32px;
    height: 90px;
}

#nav-container {
    display: inline-block;
    margin-left: auto!important;
    margin-right: auto!important;
}

.navbar-list {
    list-style: none;
}

.navbar-item {
    display: inline-block;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    height: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    font-size: 1em;
    letter-spacing: 0.035em;
    line-height: 0;
}


/* Social
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#social {
    text-align: right;
    padding-top: 32px;
    height: 90px;
}

.social-list {
    list-style: none;
}

.social-item {
    display: inline-block;
}

.socicon-facebook, .socicon-instagram, .socicon-pinterest {
    text-decoration: none;
    height: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 0.9em;
    line-height: 0;
}


/* Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#index-background {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #101111;
    z-index: 10;
}

.index-title-container {
    display: block;
    margin-top: 52px;
}

.index-title {
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 25px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.035em;
    line-height: 0;
    opacity: 0.1;
}

#index-row-1 {
    padding-top: 15px;
}

#index-item-half-container {
    margin-bottom: 15px;
}

.index-item-image img {
    display: block;
    width: 100%;
    height: auto;
}

.index-item-title {
    display: block;
    padding-top: 15px;
    text-decoration: none;
}




/* Design Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#headline, #swiper, #details {
    display: block;
}

.headline-container {
    width: 100vw;
    height: 540px;
    overflow: scroll;
}

.swiper-container {
    width: 100vw;
    height: 100vh!important;
    overflow: scroll;
}

.details-container {
    width: 100vw;
    height: calc(100vh - 189px);
    border-top: 1px solid rgba(255,255,255,0.04);
    border-bottom: 1px solid rgba(255,255,255,0.04);
    overflow: scroll;
    opacity: 0.96;
}

#headline-title-container {
    position: absolute;
    top: calc(90px + 90px);
    z-index: 3;
}

#headline-nav {
    text-align: left;
    padding-top: 32px;
    height: 58px;
}

#headline-nav-container {
    display: inline-block;
    margin-left: auto!important;
    margin-right: auto!important;
}

#headline-nav-container a {
    padding-left: 0px;
    padding-right: 50px;
}

.headline-colour-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 540px;
    background-color: #87857a;
    opacity: 0.96;
    z-index: 2;
}

.headline-background-image {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    z-index: 1;
}

#details-intro-container {
    padding-top: 60px;
    z-index: 3;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.enquire-button {
    padding-top: 32px;
}

.enquire-button a {
    padding-left: 0;
}

#cred {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

#cred-container, .cred-button {
    float: right;
}

.cred-button {
    margin-left: 5px;
}

#cred-fsc, #cred-nz {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.96;
}


/* Headline
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.ref-title-container {
    display: block;
    padding-top: 22px;
}

.ref-title {
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.035em;
    line-height: 0;
    opacity: 0.1;
}


/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#title {
    padding-top: 32px;
    height: 72px;
}

#title-container {
    display: inline-block;
}


/* Swiper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#swiper {
    margin-top: 0px;
    z-index: 0;
}

.swiper-button-container {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin-bottom: -44px;
    z-index: 2;
}

.swiper-button-next, .swiper-button-prev {
    width: 50px!important;
}

.swiper-container {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    z-index: 1;
}