/* Headline Background Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#weaver {
    background: url(/images/hd-weaver.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#klasp {
    background: url(/images/sl-klasp2.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#twig {
    background: url(/images/sl-twig4.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#linnk {
    background: url(/images/sl-linnk7.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#catch {
    background: url(/images/sl-catch1.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#hb {
    background: url(/images/sl-holmesb2.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#ht {
    background: url(/images/sl-holmest1.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#moniker {
    background: url(/images/sl-moniker2.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#oscar {
    background: url(/images/fs-oscar.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#walker {
    background: url(/images/sl-walker.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#watson {
    background: url(/images/sl-watson1.jpg);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


/* Design Slides
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#weaver-s1 {
    background: url(/images/sl-weaver.jpg);
}

#weaver-s2 {
    background: url(/images/sl-weaver1.jpg);
}

#weaver-s3 {
    background: url(/images/sl-weaver2.jpg);
}

#weaver-s4 {
    background: url(/images/sl-weaver3.jpg);
}

#weaver-s5 {
    background: url(/images/sl-weaver4.jpg);
}

#weaver-s6 {
    background: url(/images/sl-weaver5.jpg);
}


#klasp-s1 {
    background: url(/images/sl-klasp.jpg);
}

#klasp-s2 {
    background: url(/images/sl-klasp1.jpg);
}

#klasp-s3 {
    background: url(/images/sl-klasp2.jpg);
}

#klasp-s4 {
    background: url(/images/sl-klasp3.jpg);
}

#klasp-s5 {
    background: url(/images/sl-klasp4.jpg);
}

#klasp-s6 {
    background: url(/images/sl-klasp5.jpg);
}

#klasp-s7 {
    background: url(/images/sl-klasp6.jpg);
}


#linnk-s1 {
    background: url(/images/sl-linnk.jpg);
}

#linnk-s2 {
    background: url(/images/sl-linnk2.jpg);
}

#linnk-s3 {
    background: url(/images/sl-linnk3.jpg);
}

#linnk-s4 {
    background: url(/images/sl-linnk4.jpg);
}

#linnk-s5 {
    background: url(/images/sl-linnk5.jpg);
}

#linnk-s6 {
    background: url(/images/sl-linnk6.jpg);
}

#linnk-s7 {
    background: url(/images/sl-linnk7.jpg);
}

#linnk-s8 {
    background: url(/images/sl-linnk8.jpg);
}


#catch-s1 {
    background: url(/images/sl-catch.jpg);
}

#catch-s2 {
    background: url(/images/sl-catch1.jpg);
}

#catch-s3 {
    background: url(/images/sl-catch2.jpg);
}

#catch-s4 {
    background: url(/images/sl-catch3.jpg);
}

#catch-s5 {
    background: url(/images/sl-catch4.jpg);
}


#hb-s1 {
    background: url(/images/sl-holmesb.jpg);
}

#hb-s2 {
    background: url(/images/sl-holmesb1.jpg);
}

#hb-s3 {
    background: url(/images/sl-holmesb2.jpg);
}


#ht-s1 {
    background: url(/images/sl-holmest.jpg);
}

#ht-s2 {
    background: url(/images/sl-holmest1.jpg);
}

#ht-s3 {
    background: url(/images/sl-holmest2.jpg);
}

#ht-s4 {
    background: url(/images/sl-holmest3.jpg);
}

#ht-s5 {
    background: url(/images/sl-holmest4.jpg);
}

#ht-s6 {
    background: url(/images/sl-holmest5.jpg);
}

#ht-s7 {
    background: url(/images/sl-holmest6.jpg);
}


#moniker-s1 {
    background: url(/images/sl-moniker.jpg);
}

#moniker-s2 {
    background: url(/images/sl-moniker1.jpg);
}

#moniker-s3 {
    background: url(/images/sl-moniker2.jpg);
}

#moniker-s4 {
    background: url(/images/sl-moniker3.jpg);
}

#moniker-s5 {
    background: url(/images/sl-moniker4.jpg);
}

#moniker-s6 {
    background: url(/images/sl-moniker5.jpg);
}

#moniker-s7 {
    background: url(/images/sl-moniker6.jpg);
}


oscar-s1 {
    background: url(/images/sl-oscar.jpg);
}

oscar-s2 {
    background: url(/images/sl-oscar1.jpg);
}

oscar-s3 {
    background: url(/images/sl-oscar2.jpg);
}


twig-s1 {
    background: url(/images/sl-twig.jpg);
}

twig-s2 {
    background: url(/images/sl-twig1.jpg);
}

twig-s3 {
    background: url(/images/sl-twig2.jpg);
}

twig-s4 {
    background: url(/images/sl-twig3.jpg);
}

twig-s5 {
    background: url(/images/sl-twig4.jpg);
}

twig-s6 {
    background: url(/images/sl-twig5.jpg);
}

twig-s7 {
    background: url(/images/sl-twig6.jpg);
}


walker-s1 {
    background: url(/images/sl-walker.jpg);
}

walker-s2 {
    background: url(/images/sl-walker1.jpg);
}

walker-s3 {
    background: url(/images/sl-walker2.jpg);
}


watson-s1 {
    background: url(/images/sl-watson.jpg);
}

watson-s2 {
    background: url(/images/sl-watson1.jpg);
}

watson-s3 {
    background: url(/images/sl-watson2.jpg);
}